

.header .hero .form {
    padding: 50px;
    border: 1px solid rgba(255, 255, 255, .4);
    background: rgba(255, 255, 255, .3);
    border-radius: 5px;
}

.header .hero .form h3 {
    color: #ffffff;
    font-weight: 300;
}

.header .hero .form input,
.header .hero .form select,
.header .hero .form textarea {
    margin-bottom: 15px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, .3);
    background: rgba(255, 255, 255, .2);
}

/* .header .hero .form textarea {
    height: 75px;
}

.header .hero .form select,
.header .hero .form input::placeholder,
.header .hero .form textarea::placeholder {
    color: #ffffff;
} */

 .header .hero .form select option:not(:checked) {
    color: #666666;
}

.header .hero .form .btn {
    position: relative;
    padding: 10px 35px;
    font-size: 16px;
    text-transform: uppercase;
    color: #000000;
    border: none;
    border-radius: 5px;
    background: #FFD662;
    transition: .3s;
}

.header .hero .form .btn:hover {
    color: #00539C;
    background: #ffffff;
}

@media (max-width: 767.98px) {
    .header .hero .form {
        margin-top: 100px;
    }}
    .header.home {
       
        margin-bottom: 50px;
        background: linear-gradient(rgb(0, 122, 156), rgba(0, 125, 156, 0.9), rgb(0, 117, 156));

        /* background: linear-gradient(rgba(0, 83, 156, 1), rgba(0, 83, 156, .9), rgba(0, 83, 156, 1)); */
        background-position: center;
        background-repeat: no-repeat;
      width:100%;
      height:500px;
      display:flex;
      justify-content: center;
      align-items: center;
    }
  
    